:root {
    --yellow: #FFD000;
    --banner-bg: #FFC700;
    --dark-blue: #1C40C2;
    --blue: #3360FF;
    --light-blue: #809BFF;
    --sky-blue: #EEFAFF;
    --gray: #5b5f60;
    --text: #858585;
    --white: #FFF;
    --black: #000;
    --focus: #1A38A3;
    --font: 'yekan';
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekanPlus.ttf');
}

@font-face {
    font-family: 'yekan-bold';
    src: url('../fonts/BYekanPlusBold.ttf');
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    margin: 0;
    background: var(--white);
    overflow-x: hidden;
}

h1,
strong,
b {
    font-family: var(--font);
}

h2,
h3,
h4 {
    font-family: 'yekan-bold';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    font-family: var(--font);
}
button{
    cursor: pointer;
}

.cont {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.btn {
    padding: 17px 30px !important;
    border-radius: 12px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

.btn-blue {
    background: var(--blue);
    color: var(--sky-blue);
    transition: .1s;
}

.btn-blue:hover {
    box-shadow: 0 4px 4px 0 #00000040;
}

.btn-outline-yellow {
    border: 2px solid var(--yellow);
    color: var(--gray);
    background: var(--white);
}
.btn-outline-yellow:hover {
    color: var(--white);
    background: var(--yellow);
}

.hover {
    background: var(--white);
    border-radius: 16px;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 12px 0 #091E421A;
}

.hover:hover {
    box-shadow: 0 0 20px 0 #091E421A;
}